[submodule "dependencies/yaml-cpp"]
	path = dependencies/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "dependencies/sentry"]
	path = dependencies/sentry
	url = https://github.com/getsentry/sentry-native.git
